/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}