<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/"  alt="" width="" height=""/>
        </div>
        <nav>
            <a href="index.html">INICIO</a>
            <a href="acercade.html">ACERCA DE</a>
            <a href="contacto.html">CONTACTO</a>
            <a href="opiniones.html">OPINIONES</a>
        </nav>
    </header>
    <main>
        <article>
            <div class="text">
                <h1></h1>
                <p></p>
            </div>
            <img src="" alt="">
        </article>
    </main>
    <footer>
        <div class="container">
            <p class="footerP"></p> 
            <nav class="footerNAV"></nav>
        </div>
    </footer>
</body>
</html>